* {
	box-sizing: border-box;
}

body {
	background-color: #ebebeb;
}

/* Header */

header {
	background-color: #404a54;
	color: whitesmoke;
	font-family: "Big Shoulders Display";
}

header nav {
	float: right;
}

header ul {
	display: inline-block;
	padding-right: 30px;
}

header li {
	display: inline-block;
	font-weight: 500;
	font-size: 1.8em;
	padding: 20px 10px;
}

header a:link {
	color: whitesmoke;
	text-decoration: none;
}

header a:hover {
	color: white;
	text-decoration: none;
}

header a:visited {
	color: whitesmoke;
	text-decoration: none;
}

h1 {
	padding: 20px;
	display: inline-block;
}

/* Main Content */

main {
	margin: 20px 150px;
}

.section_header {
	font-weight: 500;
	font-size: 2.2em;
	font-family: "Big Shoulders Display";
}

/* Color Section */

#colors {
	width: auto;
}

.color_container {
	margin: 20px auto;
}

.color_box {
	width: 200px;
	height: 200px;
	border-radius: 10%;
	border: 1px solid black;
	box-shadow: 3px 4px 5px grey;
	display: inline-block;
	margin: 10px; 
}

.label_box_light {
	color: whitesmoke;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	padding: 15px 0;

}

.label_box_dark {
	color: black;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	padding: 15px 0;

}

.color_values {
	font-size: 1.2em;
}

div.hover_light:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10%;
}

div.hover_dark:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10%;
}

/* Color Box Specifications */

#steelgray {
	background-color: #404a54;
}

#coolwhite {
	background-color: #ebebeb;
}

#black {
	background-color: #000000;
}

#ripeorange {
	background-color: #ff8c00;
}

/* Font Section */

.font_container {
	margin: 20px auto;
}

.font_box {
	border: 1px solid black;
	width: 600px;
	height: 250px;
	border-radius: 10%;
	box-shadow: 3px 4px 5px grey;
	display: inline-block;
	margin: 10px;
}

.font_title {
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
	padding: 15px 0;
	text-decoration: underline;
}

.font_examples {
	font-size: 1.2em;
	font-weight: 100;
	padding: 5px 20px;
}

/* Font Styles */

.bigshoulders {
	font-family: "Big Shoulders Display";
}

.montserrat {
	font-family: "Montserrat";
}

.bold {
	font-weight: 500;
}

.italic {
	font-style: italic;
}

/* Text Styles Section */

.styles_container {
	border: 1px solid black;
	width: 600px;
	height: 450px;
	border-radius: 10%;
	box-shadow: 3px 4px 5px grey;
	margin: 20px 10px;
}

.text_styles {
	font-family: "Montserrat";
}

.h1style {
	font-weight: 700;
	font-size: 32px;
	font-family: "Big Shoulders Display";
	margin: 40px 0 10px 20px;
}

.h2style {
	font-weight: 500;
	font-size: 2em;
	font-family: "Big Shoulders Display";
	margin: 10px 0 10px 20px;
}

.pstyle {
	font-weight: 300;
	font-size: 20px;
	margin: 10px 0 10px 20px;
}

.style_details {
	font-weight: 100;
	font-size: 20px;
	margin: 5px 0 10px 50px;
}

/* Footer */

footer {
	height: 100px;
	background-color: #404a54;
	color: whitesmoke;
	font-family: "Montserrat";
}

.author {
	text-align: center;
	padding: 30px 0 0 0;
}